html {
    background-color: #202021;
    font-family: 'Audiowide', cursive;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 90vh;
    width: 90vw;
}
.main{
    color: white;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 5px;
    font-size: 20px;
}
.box  {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.board {
    width: 500px;
    height: 500px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 5%;
    padding: 10px;
}
.board div {
    height: 30%;
    width: 30%;
    border: 2px solid white;
    border-radius: 5%;
    margin: 5px;
}
.scoreBoard{
    color: white;
    height: 500px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 10px;
    border-radius: 5%;
    border: 2px solid white;
}
.check{
    font-family: 'Audiowide', cursive;

}
.scoreBoard div {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.extraColor{
    width: 85px;
    height: 85px;
    border: 2px solid white;
    border-radius: 5%;
}

.scoreBoard h2{
    text-align: center;
}

.middle {
    background-color: white;
}

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 2px solid $black;
    width: 60%;
}

.close {
    color: lightgray;
    float: right;
    font-size: 5vh;
    padding-left: 5vh;
}
.close:hover{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
